<aside class="critics bg-white shadow">
  <p class="label">recommended by</p>
  <div class="critics__author author d-flex d-flex-ai-center">
    <div class="author__avatar">
      <img src="./img/critics.png" alt="" /><svg class="svg-icon">
        <use xlink:href="./img/sprite.svg#verified"></use>
      </svg>
    </div>
    <div class="author__info">
      <p class="h4">Mark Seibert</p>
      <p class="p3">Betting Expert</p>
    </div>
  </div>
  <div class="critics__content">
    <p class="p3">
      Choosing the best betting site in the UK is not always easy. That's why
      our team has compiled a list.
    </p>
  </div>
  <div class="critics__info d-flex d-flex-ai-center">
    <div class="critics__info-item">
      <p class="p4 p4--bold">PROFIT</p>
      <p class="p4 p4--bold value">1º</p>
    </div>
    <div class="critics__info-item">
      <p class="p4 p4--bold">experience</p>
      <p class="p4 p4--bold value">6 years</p>
    </div>
    <div class="critics__info-item">
      <p class="p4 p4--bold">reviews</p>
      <p class="p4 p4--bold value">320</p>
    </div>
  </div>
</aside>
